<?xml version="1.0"?>
<robot name="standard_vtol" xmlns:xacro="http://ros.org">

  <!-- ==================== MAIN AIRFRAME (LEVEL SILVER PLANE) ==================== -->
  <link name="base_link">
    <inertial>
      <mass value="2.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.1"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.6 0.8 0.15"/> 
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.4" rpy="1.5708 0 -3.1416"/>
      <geometry>
        <mesh filename="file:///home/joel/robotics-portfolio/src/robot_description/meshes/x8_wing.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <!-- ==================== METALLIC SILVER FINISH ==================== -->
  <gazebo reference="base_link">
    <visual>
      <material>
        <ambient>0.75 0.75 0.75 1.0</ambient>
        <diffuse>0.75 0.75 0.75 1.0</diffuse>
        <specular>0.9 0.9 0.9 1.0</specular>
        <emissive>0.0 0.0 0.0 1.0</emissive>
      </material>
    </visual>
  </gazebo>

  <!-- ==================== MODERN GAZEBO SIM MOVEMENT ENGINE ==================== -->
  <gazebo>
    <!-- The exact flight physics system required for ROS 2 Jazzy & Gazebo Sim -->
    <plugin filename="gz-sim-velocity-control-system" name="gz::sim::systems::VelocityControl">
      <robot_base_frame>base_link</robot_base_frame>
    </plugin>
  </gazebo>

</robot>
